@page "/counterX"
@inject StateContainer state;
<PageTitle>Counterx</PageTitle>

<CascadingValue Value="state.Property">
    <h1>Counter</h1>

    <p role="status">Current count: @state.Property</p>
</CascadingValue>


@code {
    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
   
    }
}