@page "/counter"
@inject StateContainer state;
<PageTitle>Counter</PageTitle>

<h1>Counter @state.Property</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }

    private void IncrementCount()
    {
        state.Property = state.Property + 1;
    }
}
